@font-face{
	font-family:custom;
}
body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	overflow-y:auto;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#e7e7e7;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius:5px;
}
body::-webkit-scrollbar-button:decrement {
	height:10px;
	background-color:grey;
}
body::-webkit-scrollbar-button:increment:end {
	height:10px;
	background-color:grey;
}
.sidebar{
	position:fixed;
	float:left;
	height:100%;
	width: 23%;
	background-color:#353535;
	border-right: 10px solid grey;
}
.vertical{
	width:5px;
	border-radius:5px;
	height:75%;
	position:absolute;
	background-color:grey;
	margin-left:20px;
}
.content{
	background-color:#c5c5c5;
	width:76%;
	height:auto;
	position:absolute;
	margin-left:24%;
}
.header{
	width:50%;
	margin:1px;
	background-color:#353535;
	border-radius:40px;
	height:min-content;
}
.contentbox{
	width:70%;
	margin:1px;
	padding:10px;
	height:min-content;
	border-radius:40px;
	background-color:#979797;
}
.ctext{
	color:white;
	font-family:Verdana;
}
.text{
	color:white;
	font-family:'Comfortaa';
}
.text a{
	color:white;
	text-decoration:none;
	transition: color .4s;
}
a:hover{
	color:grey;
	text-shadow:1px 1px black;
}
.center{
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
.large{
	font-size:250%;
}
.med{
	font-size:150%;
}
.list{
	list-style:none;
}
.shadow{
	text-shadow:1px 1px grey;
}
.bottom{
	margin-top:90%;
}
.end{
	margin-bottom:20px;
}
.left{
	text-align:left;
}
.cfull{
	height:100%;
}